.cover {
    width: 60%;
    height: fit-content;
    margin: 200px auto 100px;
    background-color: #395386;
    box-shadow: 10px 10px 10px 5px #919191,-10px -10px 10px 5px #919191;
}
.cover>:nth-child(1){
    width: 100%;
    height: 800px;
    margin-bottom: 0px;
}
.cover>:nth-child(2){
    width: 100%;
    height: 400px;
    margin-top: 0px;
}
/* @media screen and (max-width:900px){
    .cover{
        width: 90%;
    }
    .cover>:nth-child(1){
        height: 700px;
    }
    .cover>:nth-child(2){
        height: 400px;
    }
}

@media screen and (max-width:600px){
    .cover{
        width: 90%;
    }
    .cover>:nth-child(1){
        height: 500px;
    }
    .cover>:nth-child(2){
        height: 300px;
    }
}
@media screen and (max-width:400px){
    .cover{
        width: 90%;
    }
    .cover>:nth-child(1){
        height: 400px;
    }
    .cover>:nth-child(2){
        height: 200px;
    }
} */
@media screen and (max-width:900px){
    .cover{
        width: 700px;
    }
    .cover>:nth-child(1){
        height: 600px;
    }
    .cover>:nth-child(2){
        height: 400px;
    }
}