<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex;width: 60%;margin:100px auto;flex-wrap: wrap;gap: 40px;">
        <div style="width: 20%;height: 300px;background-color: antiquewhite;min-width: 200px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, repudiandae ut. Sint sed labore, nulla excepturi similique eveniet at officia laborum molestias dolorum neque maxime. Quod deleniti in voluptatum est.</div>
        <div style="width: 20%;height: 300px;background-color: antiquewhite;min-width: 200px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quas quod perferendis praesentium aliquam similique facere! Quisquam quod repudiandae, dicta deserunt commodi eligendi eveniet pariatur ab beatae quis expedita aliquid!</div>
    </div>
</body>
</html>